@model List<EmpleadoModel>
@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.idUsuario = (object)ViewBag.idUsuario;
}

<style>
    .line-break {
        margin-bottom: 10px; /* Ajusta según sea necesario */
    }
</style>

<a asp-action="Logout" asp-controller="Mantenedor" asp-route-idUsuario="@ViewBag.idUsuario" class="btn btn-dark float-right"><i class="bi bi-plus-circle"></i> Logout</a>

<div class="line-break"></div>

@* <p>Using ViewBag: @ViewBag.idUsuario</p> *@
<div class="card">
    <div class="card-header">
        Lista Empleados
    </div>


    <div class="card-body">
        
        <form asp-action="ListarPorNombre" asp-route-idUsuario="@ViewBag.idUsuario" asp-controller="Mantenedor">
            <div class="mb-3">
                <label class="form-label">Consultar Empleado Por Nombre</label>
                <input type="text" class="form-control" name="NombreEmpleado">
            </div>
            <button type="submit" class="btn btn-primary">Consultar</button>
        </form>

        <br>

        <a asp-action="InsertarEmpleado" asp-controller="Mantenedor" asp-route-idUsuario="@ViewBag.idUsuario" class="btn btn-success"><i class="bi bi-plus-circle"></i> Crear Nuevo</a>
        
        <div class="line-break"></div>

        <hr />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nombre Empleado</th>
                    
                    <th>Fecha De Nacimiento</th>
                    <th>Tipo Documento</th>
                    <th>Valor Tipo Documento</th>
                    <th>Nombre Departamento</th>
                    <th>Nombre Puesto</th>
                    <th>Usuario</th>
                    <th>EsActivo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.NombreEmpleado</td>
                        <td>@item.FechaDeNacimiento</td>
                        <td>@item.NombreTipoDocumento</td>
                        <td>@item.ValorTipoDocumento</td>
                        <td>@item.NombreDepartamento</td>
                        <td>@item.NombrePuesto</td>
                        <td>@item.Usuario</td>
                        <td>@item.EsActivo</td>
                        <td>
                            <a asp-action="Impersonar" asp-controller="Mantenedor" asp-route-idUsuario="@ViewBag.idUsuario" asp-route-NombreEmpleado="@item.NombreEmpleado" class="btn btn-success"><i class="bi bi-plus-circle"></i> Impersonar Empleado</a>
                        </td>
                        
                    </tr>
                    
                    
                }
            </tbody>
        </table>
        

        
    </div>
</div>

