@{
    ViewData["Title"] = "UsuarioEmpleado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>Using ViewBag: @ViewBag.idUsuario</p>
<p>Using ViewBag: @ViewBag.IdEmpleado</p>

<h1>UsuarioEmpleado</h1>

<form asp-action="InicioConsultaPlaSemanal" asp-controller="ConsultaPlaSemanal" method="post">
    <input type="hidden" name="idUsuario" value="@ViewBag.IdUsuario" />
    <input type="hidden" name="idEmpleado" value="@ViewBag.IdEmpleado" />
    <button type="submit" class="btn btn-primary">Consultar planilla semanal</button>
</form>

<br>

<form asp-action="InicioConsultaPlaMensual" asp-controller="ConsultaPlaMensual" method="post">
    <input type="hidden" name="idUsuario" value="@ViewBag.IdUsuario" />
    <input type="hidden" name="idEmpleado" value="@ViewBag.IdEmpleado" />
    <button type="submit" class="btn btn-primary">Consultar planilla mensual</button>
</form>

